body {
    font-family: 'Roboto', sans-serif;
    background-image: url('background.jpg'); /* Asegúrate de que el archivo esté en el mismo directorio */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #333;
    margin: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: rgba(76, 175, 80, 0.8); /* Translucidez para el encabezado */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header img {
    height: 60px;
    cursor: pointer; /* Para indicar que es un enlace */
}

header h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

main {
    width: 80%;
    margin-top: 100px; /* Ajusta el margen superior para no solaparse con el encabezado */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(76, 175, 80, 0.8);
    width: 100%;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
}

.button-primary {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-primary:hover {
    background-color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
}

form input, form select, form button {
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
}

form select[multiple] {
    height: 250px; /* Aumenta la altura del selector múltiple */
    resize: vertical; /* Permite redimensionar verticalmente */
}

form button {
    align-self: flex-end;
}
